*{
    box-sizing: border-box;
    align-items: center;
}

body {
    background-color: pink;
}

div {
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.container {
    border: 1px solid black;
    box-shadow: 5px 10px;
}